@font-face {
    font-family: "ProximaNova";
    src: url("ProximaNovaFont.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// Conversión a rems
html {
    font-size: 62.5%;
    overflow-x: hidden;

    body {
        font: 14px "";
    }

    @media (min-width: 1921px) and (max-height: 600px) {
        font-size: 55.5%;
    }

    // @media (min-width: 1601px) {
    //   font-size: 0.625vw;
    // }
}

html {
    overflow-x: hidden;
}

body {
    cursor: default;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    color: inherit;
    border: 0;
    margin: 0;
    padding: 0;
}

// Generic styles
@color1: #5C9DDC;
@color2: #46D6DD;
@color3: #DDFFFF;

section {
    max-width: 131rem;
}

a {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-decoration: none;
    cursor: pointer;
}

.basic-bg() {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.basic-font {
    font-family: ProximaNova;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.logo {
    height: 4rem;
}


// navbar section
.navbar {
    height: 10.6rem;
    align-items: center;
    max-width: 131rem;
    margin: auto;
    padding: 0 12rem;

    .burger {
        display: none;
    }

    .navbar-sections {
        div:not(.logo) {
            margin-left: 4rem;
            cursor: pointer;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.4rem;
            color: #27415c;
        }

        &.mobile {
            display: none;

            &.active {
                display: block;
                z-index: 9;
                position: absolute;
                top: 9rem;
                background-color: white;
                padding: 4rem 0rem;
                margin: auto;
                right: 4rem;
                border: 1px solid #EEEEEE;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
                border-radius: 1.6rem;
                transition: all 0.1s ease;

                div {
                    display: block;
                    margin: 2rem auto;
                    width: 18rem;
                    padding-left: 3rem;
                    position: relative;

                    &::after {
                        content: " ";
                        width: calc(100% - 6.5rem);
                        background-color: #EEEEEE;
                        height: 2px;
                        position: absolute;
                        bottom: -3px;
                        left: 3.1rem;
                    }
                }
            }
        }
    }
}

// Section one


.section-one {
    margin: auto;
    min-height: 76rem;
    position: relative;
    padding: 0rem 13rem;
    margin: auto;

    .img-float {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 56rem;
        height: 51rem;
        position: absolute;
        left: 60%;
        top: -9rem;
        background-image: url("https://tomasaldea.github.io/PruebaTecalis/img/Vectortop.svg");
    }

    .top-svg {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 74rem;
        height: 67rem;
        position: absolute;
        right: -24rem;
        top: -43rem;
        background-image: url("https://tomasaldea.github.io/PruebaTecalis/img/top-svg.svg");
        z-index: -9;
    }

    .container {
        max-width: 64rem;
        margin-top: 13rem;
        width: calc(100% - 25rem);

        .no-fill {
            text-transform: uppercase;
            color: @color1;
            font-size: 1.6rem;
            border: 2px solid @color1;
            border-radius: 3rem;
            padding: 1.2rem 3rem;
            background-color: transparent;
            margin-bottom: 3rem;
            font-weight: 700;
        }

        .title {
            font-weight: 700;
            font-size: 50px;
            line-height: 5.4rem;
            margin-bottom: 3rem;
        }

        .text {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.6rem;
            margin-bottom: 5rem;

            span {
                color: #97bfe7;
            }
        }

        .button-fill {
            display: flex;
            max-width: 6rem;
            align-items: center;
            background-color: @color2;
            font-weight: 500;
            font-size: 1.8rem;
            text-transform: capitalize;
            padding: 1rem 3rem;
            border-radius: 1rem;
            color: white;
            text-decoration: none;

            img {
                margin-left: 0.7rem;
            }
        }
    }

    .ellipse-container {
        background-image: url("https://tomasaldea.github.io/PruebaTecalis/img/Ellipse.svg");
    }


}

// Section two

.section-two {
    justify-content: space-between;
    padding-bottom: 17rem;
    width: calc(100% - 25rem);
    margin: -10rem auto;

    .title.mobile {
        display: none;
        font-weight: 700;
        font-size: 3.6rem;
        line-height: 4.6rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .img-container {
        max-width: 79rem;
        margin-right: 12rem;

        .img {
            .basic-bg();
            background-image: url("https://tomasaldea.github.io/PruebaTecalis/img/Rectangle.svg");
            max-width: 79rem;
            max-height: 41rem;
            height: 41rem;
            border-radius: 2rem;
        }

        .text {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.4rem;
            text-align: -webkit-center;
            margin-top: 2rem;
        }
    }

    .list-container {
        max-width: 35rem;
        justify-content: space-between;
        margin-bottom: 3rem;

        .title.desktop {
            font-weight: 700;
            font-size: 3.6rem;
            line-height: 4.6rem;
        }

        .link {
            display: flex;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 3.2rem;
            cursor: pointer;
            height: 5rem;
            align-items: center;

            span {
                margin-left: 1rem;
            }

            &:hover {
                transition: all 0.8s ease;
                background-color: #DDFFFF;
            }
        }

    }

    /*  @media (max-width: 1500px) {
        .img-container {
            max-width: 68rem;
        }
    } */
}


// Footer

footer {
    max-height: 40.2rem;
    background-color: @color3;
    padding-top: 6rem;

    .logo {
        &.mobile {
            display: none;
        }
    }

    .link-container {
        justify-content: center;
        padding-bottom: 3rem;

        .col {
            margin-left: 4rem;

            a {
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 2.2rem;
                color: #607c8e;

                &.strong {
                    font-weight: 700;
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    color: #27415c;
                }

                &.title {
                    color: @color1;
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 2.2rem;
                    text-transform: uppercase;
                }

                &:not(:last-child) {
                    margin-bottom: 0.8rem;
                }
            }
        }
    }

    .rrss {
        max-width: 131rem;
        height: 8rem;
        width: calc(100% - 50rem);
        justify-content: space-between;
        margin: auto;
        align-items: center;
        border-top: 1px solid #27415c42;

        .row {
            img {
                max-width: 1.5rem;
                max-height: 1.5rem;
                margin-right: 1rem;
                cursor: pointer;
            }
        }
    }

}

@media (max-width: 1024px) {
    .navbar {
        padding: 0 5rem;
    }

    .section-one {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;

        .container {
            text-align: -webkit-center;
            width: calc(100% - 12rem);
        }

        .img-float {
            width: 33rem;
            position: inherit;
            left: inherit;
            top: inherit;
        }
    }

    .section-two {
        margin-top: 4rem;


        .img-container {
            margin-right: 5rem;
        }
    }

    footer {
        max-height: max-content;
        position: relative;
        padding-top: 8rem;

        .logo.mobile {
            display: block;
            text-align: center;
            margin-bottom: 3rem;
            position: absolute;
            left: 50%;
            top: 2rem;
            transform: translateX(-50%);
        }

        .link-container {
            flex-wrap: wrap;

            .logo.desktop {
                display: none;
            }

            .col {
                width: 13rem;
                margin-bottom: 2rem;
            }
        }

        .rrss {
            width: calc(100% - 16rem);
        }
    }
}

@media (max-width: 797px) {
    .navbar {
        justify-content: space-between;

        .burger {
            display: block;
            width: 4rem;
        }

        .navbar-sections {
            div {
                display: none;
            }
        }
    }

    .section-one {
        .top-svg {
            right: -35rem;
            top: -45rem;
        }
        .container {
            width: calc(100% - 6rem);
        }
    }

    .section-two {
        flex-direction: column;
        width: calc(100% - 6rem);

        .title.mobile {
            display: block;
        }

        .list-container {
            .title.desktop {
                display: none;
            }
        }

        .img-container {
            margin-right: inherit;

            .img {
                height: 20rem;
            }

            .text {
                margin-top: 6rem;
                margin-bottom: 5rem;
            }
        }
    }
}